.nav__link {
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  outline: none !important;

  &::before,
  &::after {
    content: '';
    height: 14px;
    width: 25px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }

  &::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #e6b371;
    border-right: 3px solid #e6b371;
    transform: translate(-100%, 50%);
  }

  &:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #e6b371;
    border-left: 3px solid #e6b371;
    transform: translate(100%, -50%)
  }

  &:hover:before,
  &:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }

  &:hover {
    color: #e6b371;
  }
}